<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
  
              <div class="container">
                <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">
                  <h1>Login</h1>
              
                  <input formControlName = "name" type="text" id="name" placeholder="Your name..">
              
                  <input formControlName = "password" type="text" id="password" placeholder="Your password..">
        
                    
                <input type="submit" value="Login">
             <p><a routerLink="/register" routerLinkActive="active">Register here!</a></p> 
                </form>
              </div>
              
  </div>
  </div></div></div></div></section>
   
  