
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="./assets/images/human.jpg" alt="Jayden" style="width:100%">
        <div class="container">
          <h2>Jayden Ang</h2>
          <p class="title">CEO & Founder</p>
          <p>I am the CEO & the Founder of kicks4all and I wish to satisfy all of my customer's needs through the shoes sold by this website.</p>
          <p>jayden@example.com</p>
          <p><button class="button" routerLink = "/contact" routerLinkActive = "active">Contact</button></p>
        </div>
      </div>
    </div>
    