<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">

            <div class="container">
              <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">
                <h1>Contact An Admin</h1>
            
                <input formControlName = "name" type="text" id="name" placeholder="Your name..">
            
                <input formControlName = "email" type="text" id="email" placeholder="Your email..">
            
                <select id="country" name="country">
                  <option value="singapore">Singapore</option>
                
                </select>
            
               
                <input formControlName = "subject" type="text" id="subject" placeholder="Your message..">
            
                <input type="submit" value="Submit">
            
              </form>
            </div>
            
</div>
</div></div></div></div></section>
 
