


<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
<p>Create Shoe</p>
      <input formControlName="id" id="id" placeholder="id">
    <input formControlName="name" id="name" placeholder="name">
    <input formControlName="colour" id="colour" placeholder="colour">
    <input formControlName="price" id="price" placeholder="price">
    <input formControlName="inStock" id="inStock" placeholder="inStock">
    <input formControlName="image" id="image" placeholder="image">
    <input formControlName="image1" id="image1" placeholder="image1">
    <input formControlName="brand" id="brand" placeholder="brand">
    <input formControlName="cutting" id="cutting" placeholder="cutting">
    <input formControlName="description" id="description" placeholder="description">
    

    <button class="btn btn-primary" type="submit">Submit</button>
  
    <div class="container">
      <div class="row h-100">
          <div class="col-md-12 ">
              <ul class = "nav justify-content-center">
<div class="file col-md-6" *ngFor="let post of shoes">
        <h4 class="card-title">{{post.name}}</h4>
        <p class="card-text">{{post.colour}}</p>
        <p class="card-text">{{post.price}}</p>
        <p class="card-text">{{post.inStock}}</p>
        <img src = "{{post.image}}" width = "20%" class = "small-img" alt = "">
        <img src = "{{post.image1}}" width = "20%" class = "small-img" alt = "">
        <p class="card-text">{{post.brand}}</p>
        <p class="card-text">{{post.cutting}}</p>
        <p class="card-text">{{post.description}}</p>
        <input type="text" class="card-title" value={{post.name}}
        id={{post.id}}_name>
        <input type="text" class="card-title" value={{post.colour}}
        id={{post.id}}_colour>
      
        <input type="number"class="card-text" value={{post.price}}
        id={{post.id}}_price>
        <input type="number"class="card-text" value={{post.inStock}}
        id={{post.id}}_inStock>
        <input type="text" class="card-title" value={{post.image}}
        id={{post.id}}_image>
        <input type="text" class="card-title" value={{post.image1}}
        id={{post.id}}_image1>
        <input type="text" class="card-title" value={{post.brand}}
        id={{post.id}}_brand>
        <input type="text" class="card-title" value={{post.cutting}}
        id={{post.id}}_cutting>
        <input type="text" class="card-title" value={{post.description}} 
        id={{post.id}}_description>
        <a href="javascript:void(0)" 
          (click)="deleteShoe(post.id)" class="card-link">Delete </a>
          <a href="javascript:void(0)" (click)="updateShoe(post.id)" class="card-
          link">Update</a>
      </div>      
</ul>
           
  
  </div>
      </div>


    </div>

